############################
# Java / Spring Boot
############################
target/
*.class
*.jar
*.war
*.ear
*.log

############################
# React / Node
############################
node_modules/
dist/
coverage/

############################
# Environment Files
############################
.env
.env.*

############################
# IDE Files
############################
.vscode/
.idea/
*.iml

############################
# Operating System Files
############################
.DS_Store
Thumbs.db

############################
# H2 Database Files
############################
*.mv.db
*.trace.db